@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500;600&display=swap");

:root {
  /* Font-families */
  --body-font-family: "Poppins", sans-serif;
  --header-font-family: "Montserrat", sans-serif;
  --card-header-font-family: "Times New Roman", Times, serif;

  /* Font-weights */
  --medium-weight: 500;
  --semi-bold-weight: 600;

  /* Colors */
  --light-color: rgb(255, 255, 255);
  --accent-color: rgb(255, 149, 0);
  --dark-color: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  color: var(--light-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  font-weight: var(--semi-bold-weight);
}

a {
  color: var(--light-color);
  font-family: var(--header-font-family);
  text-decoration: none;
}

hr {
  width: 100%;
}

.nav-center {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(24px); /*for safari*/
  width: 100%;
  padding: 1.5rem 2.5rem;
  z-index: 100;
  transition: all 0.4s ease;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.3rem;
  font-weight: var(--semi-bold-weight);
}

.logo span {
  color: var(--accent-color);
}

.nav-toggle-btn {
  border: none;
  font-size: 1.2rem;
  color: var(--body-color);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-toggle-btn:hover {
  transform: rotate(90deg);
}

.nav-menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.nav-link {
  display: block;
  padding-block: 1rem;
  font-weight: var(--medium-weight);
  text-align: center;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1023px) {
  /* Responsive-nav*/
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
  }

  .nav-toggle-btn {
    display: none;
  }

  .nav-menu {
    height: auto !important;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .nav-link {
    padding-block: 0;
  }
}

.main {
  overflow: hidden;
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.9) 90%
    ),
    url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  padding-left: 10rem;
  overflow: hidden;
}

.hero-title {
  font-size: 3rem;
}

.hero-description {
  margin-block: 1rem 1.5rem;
}

.button {
  background-color: transparent;
  backdrop-filter: blur(8px);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  font-weight: var(--semi-bold-weight);
  padding: 1rem 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.button i {
  font-size: 1.3rem;
  transition: transform 0.4s ease;
}

.button:hover i {
  transform: translateX(0.2rem);
}

.section {
  max-width: 1200px;
  padding: 2.5rem;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-content: center;
}

.about-img-container {
  position: relative;
  overflow: hidden;
  height: auto;
  cursor: pointer;
}

.about-img {
  height: 100%;
  width: 100%;
  transition: transform 0.4s;
}

.about-img-container:hover .about-img {
  transform: scale(1.2);
}

.img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 50%,
    rgb(0, 0, 0) 125%
  );
}

.about-subtitle-container {
  position: relative;
  display: inline-block;
}

.about-subtitle {
  font-size: 1.6rem;
  color: var(--dark-color);
  opacity: 0.8;
  margin-bottom: 5px;
}

.underline {
  border: 3px solid var(--accent-color);
  width: 100px;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.about-description {
  color: var(--dark-color);
  font-size: 0.9rem;
  margin-top: 1.5rem;
}

.attraction-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 1.5rem;
}

.attraction-item {
  position: relative;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.attraction-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.attraction-item:hover .img-overlay {
  opacity: 1;
}

.accomodation-description {
  color: var(--dark-color);
  font-weight: var(--medium-weight);
  text-align: center;
  margin-bottom: 2.2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  width: 325px;
  border-radius: 16px;
  border: none;
  transition: transform 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-1.2rem);
}

.card-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.card-content {
  font-size: 0.85rem;
  padding: 1rem;
  font-family: var(--body-font-family);
}

.card-title {
  font-family: var(--card-header-font-family);
  font-size: 1.1rem;
}

.card-description {
  margin-block: 1.2rem;
}

.card-icon i {
  color: gold;
  font-size: 0.8rem;
}

.gallery-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.gallery-img {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.footer-container {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 3rem 2rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.footer-link {
  color: var(--accent-color);
  transition: all 0.4s linear;
}

.footer-link:hover {
  color: var(--color-text);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-link {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: var(--semi-bold-weight);
  transition: all 0.4s linear;
}

.social-link:hover {
  color: var(--accent-color);
}

.footer-text {
  text-align: center;
}

.copyright-symbol {
  color: var(--accent-color);
}

.home-button {
  font-size: 1.8rem;
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: none;
  transition: all 0.4s ease;
}

.home-button:hover {
  transform: scale(1.1);
}

.show-home-button {
  display: block;
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-info {
    text-align: center;
  }

  .attraction-container,
  .gallery-container {
    grid-template-columns: 320px;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

@media (min-width: 901px) and (max-width: 1400px) {
  .attraction-container,
  .gallery-container {
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    justify-content: center;
    text-align: center;
    padding-inline: 3rem;
  }
}
